

<div class="top-content">
  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-7"></div>
        <div class="con-sm-2"></div>
        <div class="col-sm-5">
          <div class="form-box register-container">
            <div class="form-top">
              <div class="form-top-left">
                <h3>Sign In</h3>

              </div>

              <div class="form-top-right">
                <h3>Sign UP</h3>
              </div>
            </div>
            <div class="register">
              <app-register></app-register>
            </div>
            <div style="visibility: hidden" class="login">
              <app-login></app-login>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

